<ion-header>
  <ion-navbar color='primary'>
    <ion-title>
        <img src="./assets/imgs/collis.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>


  <div *ngIf="fotocamera">
      <button ion-button icon-end (click)="scatta()" outline large>Scatta <ion-icon name="camera" color="primary"></ion-icon></button>
  </div>


  <div *ngIf="conferma">
      <ion-card>
          <img src="{{foto}}"/>
          <ion-card-content>
            <ion-card-title>
                {{sigillo.nome}}
              </ion-card-title>
            <p>
                ID: {{sigillo.numero}}
            </p>
          </ion-card-content>
        </ion-card>
      <button ion-button icon-only outline (click)="scatta()">
          <ion-icon name="refresh"></ion-icon>
        </button>
      <button ion-button outline (click)="invia()" large>Conferma</button>
    </div>
</ion-content>
